@page
@using LogicLayer.Interfaces;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <form method="post">
        <div class="index-parent">
            <div class="index-ads-left"> 

            </div>
            <div class="index-ads-right"> 

            </div>
            <div class="index-main-news"> 
                <div class="card">
                    <div class="card-img-top" style="width: 100%; height: 20%;">
                        <img src="~/images/mainnews.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="newsImage" />
                    </div>
                    <div class="card-title" style="width: 100%; height: 40%; text-align: center; font-weight: bold; font-size: 25px;">
                        <a asp-page="/NewsPageFormat" asp-route-id="@Model.BreakingNews.Id">@Model.BreakingNews.Title</a>
                    </div>
                    <div class="card-subtitle" style="width: 100%; height: 40%; text-align: justify; font-size: 20px;">@Model.BreakingNews.SubTitle</div>
                </div>

            </div>
            <div class="index-news-secondary"> 
                @foreach(INews secNews in @Model.NewsCatalogue.AllNews.Values.Take(2).ToList())
                {
                    <div class="card">
                        <div class="card-img-top" style="width: 100%; height: 20%;">
                            <img src="~/images/mainnews.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="newsImage" />
                        </div>
                        <div class="card-title" style="width: 100%; height: 40%; text-align: center; font-weight: bold; font-size: 25px;">
                            <a asp-page="/NewsPageFormat" asp-route-id="@secNews.Id">@secNews.Title</a>
                        </div>
                        <div class="card-subtitle" style="width: 100%; height: 40%; text-align: justify; font-size: 20px;">@secNews.SubTitle</div>
                    </div>
                }
            </div>
            <div class="index-news-lines">
                <ul>
                    @foreach (INews otherNews in @Model.NewsCatalogue.AllNews.Values.Skip(3).ToList())
                    {
                        <li><a asp-page="/NewsPageFormat" asp-route-id="@otherNews.Id">@otherNews.Title</a></li>
                    }
                    @*<li>The Nauseating Truth About News</li>
                    <li>6 Bizarre News Facts You Need to Know</li>
                    <li>Why News Affects Men and Women Differently</li>
                    <li>The Devastating Impact of Coronavirus on News</li>
                    <li>What Your Relationship With News Says About Your Personality Type</li>
                    <li>What We Got Wrong About News</li>*@
                </ul>
            </div>
        </div>
    </form>
</body>